/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
:root {
  --primary-color: #144b92;
  // --primary-color: #145275;
  --dark-color: #343a40;
  --dark-color: #070a0e;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.w-20 {
  width: 20%;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 10px;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light,
.badge-light,
.alert-light {
  color: #333;
}
.btn-light {
  background: var(--primary-color);
  color: white;
}
.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.btn-follow {
  display: inline-block;
  background: rgb(11, 126, 202);
  color: rgb(255, 255, 255);
  padding: 0.1rem 0.5rem;
  font-size: 1rem;
  margin-right: 0;
  border-radius: 5px;
  margin-top: 10px;
}
.btn-unfollow {
  display: inline-block;
  background: var(--dark-color);
  color: rgb(255, 255, 255);
  padding: 0.1rem 0.5rem;
  font-size: 1rem;
  margin-right: 0;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  width: 150px;
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */

.login,
.register {
  vertical-align: middle;
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: center;
  align-items: center;
  // margin-top: 50px;
  .side-img {
    img {
      width: 250px;
      height: 250px;
    }
  }

  .form {
    width: 80%;
    padding: 20px 0;
    margin: auto;
    background-color: #d5d5d5;
    border-radius: 15px;
    text-align: center;
    .lead {
      display: flex;
      justify-content: center;
      grid-column-gap: 10px;
      align-items: center;
      h5 {
        font-size: 30px;
      }
    }
    .form-group {
      align-items: center;
      text-align: center;
      input {
        width: 80%;
        border-radius: 25px;
        padding: 7px 0px 7px 20px;
        background-color: #f7f7f7;
        border: 2px solid #eeeeee;
      }
    }
    .foot {
      // width: 70%;
      // display: flex;
    }
  }
}

.login {
  margin-top: 60px;
}
.form-container {
  text-align: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  /* background-color: var(--dark-color); */
}
.all-posts {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.post-form {
  textarea {
    width: 80%;
    border-radius: 25px;
    padding: 7px 0px 7px 20px;
    background-color: #f7f7f7;
    border: 2px solid #eeeeee;
  }
  button {
    width: 20%;
    display: none;
  }
}
.form-container1 {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  text-align: center;
  width: 100%;
  margin: auto;
  /* background-color: #bec1c2; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  .git-repos {
    padding: 20px;
  }
  .your-skills {
    text-align: left;
    padding: 30px 10px 10px 10px;
    h5 {
      font-size: 20px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      li {
        background-color: rgb(226, 226, 226);
        padding: 2px 10px;
        border-radius: 10px;
        margin-top: 5px;
      }
      grid-column-gap: 10px;
    }
  }
}
.create-profile {
  text-align: center;
  width: 70%;
  margin: auto;
  /* background-color: #bec1c2; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .form-group {
    align-items: center;
    text-align: center;
    input[type='text'],
    input[type='date'],
    select,
    textarea {
      width: 70%;
      border-radius: 25px;
      padding: 7px 0px 7px 20px;
      background-color: #f7f7f7;
      border: 2px solid #eeeeee;
    }
    input[type='date'] {
      padding-right: 20px;
    }
  }
}
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form > input {
  width: 80%;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  // display: block;
  // width: 100%;
  // padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.social-texts {
  text-align: left;
  padding: 20px;
  h5 {
    font-size: 18px;
  }
}
.social-text {
  display: flex;
  grid-column-gap: 5px;
  align-items: center;
  i {
    font-size: 25px;
  }
  padding: 5px;
}
.social-text i.fa-twitter {
  color: #38a1f3;
}
.social-text i.fa-facebook {
  color: #3b5998;
}
.social-text i.fa-instagram {
  color: #3f729b;
}
.social-text i.fa-youtube {
  color: #c4302b;
}
.social-text i.fa-linkedin {
  color: #0077b5;
}
.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profiles-page {
  text-align: center;
  input {
    width: 50%;
    border-radius: 25px;
    padding: 10px 0px 10px 20px;
    background-color: #f7f7f7;
    border: 2px solid #eeeeee;
    outline: none;
  }
}
.profiles {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  text-align: center;
  align-items: center;
  h4 {
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
    font-size: 23px;
  }
}
.profile-item {
  // display: grid;
  // grid-template-columns: 2fr 4fr 2fr;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    // border: 2px solid rgb(220, 220, 220);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  align-items: center;
  // grid-gap: 2rem;
  padding: 0.5rem 1rem;
  // line-height: 1.8;
  margin-bottom: 1rem;
  // width: 20%;
}

/* Profile Page */

/* .profile-head > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px;
}
.profile-head > span {
  padding: 10px;
} */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 150px;
  height: 150px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.exp-head {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin-top: 15px;
  }
  .btn {
    padding: 5px 10px;
    border-radius: 10px;
  }
}
.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}
.profile-exp h1 {
  border-bottom: 1px solid rgb(161, 161, 161);
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form {
  text-align: center;
}
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  // display: grid;
  // grid-template-columns: 1fr 4fr;
  // grid-gap: 2rem;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(170, 168, 168);
  h4{
    font-size: 18px;
  }
}
.post-head-name{
  align-items: center;
  display: flex;
  grid-column-gap: 10px;
}
.post > div:first-child {
  text-align: center;
}

.post img {
  width: 50px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.profile-head {
  margin-top: 1rem;
  text-align: left;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 30px;
  .flex {
    display: flex;
    grid-column-gap: 10px;
    h3 {
      font-size: 16px;
    }
  }
}

.profile-pic {
  justify-content: center;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  align-items: center;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4rem;
}

.profile-pic-div input[type='file'] {
  display: none;
  cursor: pointer;
}

.dash-buttons {
  display: block;
  width: 100%;
  margin-bottom: 0.2rem;
}
.dash-buttons a {
  text-align: center;
  width: 50%;
  margin-bottom: 0.2rem;
}

.share-profile {
  text-align: left;
  padding: 20px;
}
/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }
  .form-container {
    width: 100%;
    padding: 5px;
  }
  .form-container1 {
    width: 100%;
    padding: none;
  }
  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }
  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons {
    display: none;
    width: 100%;
    margin-bottom: 0.2rem;
  }
  /* .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  } */

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
  .form-container1 {
    display: block;
    // grid-template-columns: 1.5fr 2.5fr;
    word-wrap: break-word;
    text-align: center;
    width: 100%;
    margin: auto;
    /* background-color: #bec1c2; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: none;
    padding: 20px;
    .git-repos {
      padding: 5px;
    }
    .your-skills {
      text-align: left;
      padding: 30px 10px 10px 10px;
      h5 {
        font-size: 20px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        li {
          background-color: rgb(226, 226, 226);
          padding: 2px 10px;
          border-radius: 10px;
          margin-top: 5px;
        }
        grid-column-gap: 10px;
      }
    }
  }
  .all-posts {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 0px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: none;
    padding: 0 20px;
  }
  .post-form {
    textarea {
      width: 100%;
      height: 100px;
      border-radius: 25px;
      padding: 7px 0px 7px 20px;
      background-color: #f7f7f7;
      border: 2px solid #eeeeee;
    }
    button {
      width: 20%;
      display: none;
    }
  }
  .login,
  .register {
    display: block;
    // margin-top: 50px;
    .side-img {
      display: none;
    }

    .form {
      width: 100%;
    }
  }
  .profile-head {
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    display: block;
    // grid-template-columns: 1fr 3fr;
    // grid-column-gap: 30px;
    .flex {
      display: flex;
      justify-content: space-around;
      grid-column-gap: 10px;
      h3 {
        font-size: 16px;
      }
    }
  }
  .lead {
    margin-top: 10px;
  }
  .profile-pic {
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
  }
  .social-texts {
    padding: 10px;
    word-wrap: break-word;
    .social-texts {
      word-wrap: break-word;
    }
  }
  .create-profile {
    width: 100%;
    /* background-color: #bec1c2; */
    box-shadow: none;
    .form-group {
      input[type='text'],
      input[type='date'],
      select,
      textarea {
        width: 90%;
      }
    }
  }
  .profile-head-div {
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 10px 0;
  }
  .container {
    padding: 0 1rem;
  }
  .profiles-page {
    text-align: center;
    input {
      width: 90%;
      font-size: 15px;
    }
  }
  .profiles {
    margin-top: 30px;
    display: block;
    text-align: center;
    align-items: center;
    padding: 0 1.5rem;
  }
  .profile-item {
    // display: grid;
    // grid-template-columns: 2fr 4fr 2fr;
    text-align: center;
    box-shadow: rgba(151, 151, 151, 0.35) 0px 5px 15px;
    img {
      width: 90px;
      height: 90px;
      border-radius: 100%;
      // border: 2px solid rgb(220, 220, 220);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    align-items: center;
    // grid-gap: 2rem;
    padding: 0.5rem 1rem;
  }
}
